<!DOCTYPE html>
<html lang="en">

<head>
  <title>Funly</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Niconne|Pacifico" rel="stylesheet">
</head>

<header>
  <div class="container">
    <div class="flexbox">
      <div id="head-left">Funly</div>
      <div>
        <nav class="navigation">
          <ul>
            <li>
              <form>
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <input id="submit" type="submit" value="login">
              </form>
              <!-- <a href="#">Login</a> -->
            </li>
            <li><a href="#">SignUp</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>

</html>