<!DOCTYPE html>

<header>
  <div class="container">
    <div class="flexbox">
      <div id="head-left">Tiny App</div>
      <div id="head-right">Logout</div>
    </div>
  </div>

  <!-- <form action="/login" method="POST" style="margin:150px;">
    <label for="username">Login:</label>
    <input id="username" type="text" name="username" placeholder="username or email" style="width: 300px">
    <input id="submit" type="submit" value="Submit">
  </form> -->
</header>