<!DOCTYPE html>
<html lang="en">

<style>
  #form {
    width: 65%;
    margin: 50px auto;
    text-align: center;
  }

  input {
    height: 50px;
  }

  #submit {
    border: none;
    width: 80px;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .test {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
  }

  #username {
    display:inline-block;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  #logout {
    display: inline-block;
    height: 10px;
  }

</style>

<body>
  <% include partials/_header %>

  <% include partials/_logout %>

  <div id="form">
    <form method="POST" action="/urls">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input id="submit" type="submit" value="Submit">
    </form>
  </div>

  <% include ./urls-index %>

</body>

</html>