<!DOCTYPE html>
<html lang="en">


<style>
  td {
    border: 1px dashed blue;
    padding: 10px;
    margin: 0;
  }
</style>

<head>
  <title>TinyApp</title>
</head>

<body>
    <% include ../partials/head %>

  <table>
    <tbody>

      <% for (let el in urls) { %>
          <tr>
            <td><%= el %></td>
            <td><%= urls[el] %></td>
          </tr>
        <% } %>
    </tbody>
  </table>
</body>
</html>