<!DOCTYPE html>
<html lang="en">


<style>
  table {
    margin: 0 auto;
  }

  td {
    border: 1px solid blue;
    padding: 5px;
    margin: 0;
  }

  #form-delete {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  #delete {
    width: 100%;
    padding: 20px;
    height: 100%;
    border: none;
    background-color: cornsilk;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  #delete:hover {
    color: white;
    background-color: crimson;
    transition: all 0.25s linear;
  }
</style>

<head>
  <title>TinyApp</title>
</head>

<body>
  <!-- <% include ./partials/_header %> -->

  <table>
    <tbody>

      <% for (let el in urls) { %>
      <tr>
        <td>
          <%= el %>
        </td>
        <td>
          <%= urls[el] %>
        </td>
        <td>
            <form id="form-edit" method="POST" action="/urls/<%= el %>">
              <input id="edit" type="submit" value="Edit">
            </form>
          </td>
        <td>
          <form id="form-delete" method="POST" action="/urls/<%= el %>/delete">
            <input id="delete" type="submit" value="Delete">
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>

</html>